<ion-app>
  <ion-menu *ngIf="showMenu" contentId="main-content" side="start" type="push">
    <ion-header class="menu-header">
      <ion-toolbar>
        <ion-title>WebLoc</ion-title>
      </ion-toolbar>
      <div class="menu-profile" *ngIf="auth.isLogged()">
        <img [src]="normalizeAvatar(auth.user?.avatar_url)" (error)="onImgError($event)" alt="avatar" />
        <div class="info">
          <div class="name">{{ auth.user?.nickname || auth.user?.name }}</div>
          <div class="email">{{ auth.user?.email }}</div>
        </div>
      </div>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-list-header>Principal</ion-list-header>
        <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages" >
          <ion-item *ngIf="p.show()" [routerLink]="p.url" routerDirection="root" lines="none">
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
            <ion-badge color="primary" *ngIf="p.title === 'Amigos' && pendingRequests > 0" slot="end">{{ pendingRequests }}</ion-badge>
            <ion-badge color="tertiary" *ngIf="p.title === 'Salas' && unreadRooms > 0" slot="end">{{ unreadRooms }}</ion-badge>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list *ngIf="auth.isLogged()">
        <ion-list-header>Conta</ion-list-header>
        <ion-item>
          <ion-label>Tema escuro</ion-label>
          <ion-toggle [checked]="theme.isDark" (ionChange)="theme.toggle()"></ion-toggle>
        </ion-item>
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="auth.logout(); pendingRequests = 0" lines="none">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Sair</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
