<ion-content class="ion-padding games-list-page">
  <div class="games-container">
    <div class="logo">
      <h1>Gerenciar Jogos</h1>
    </div>
    <p class="subtitulo">Administre os jogos disponíveis</p>

    <ion-button expand="block" routerLink="/home" class="btn-secondary">
      <ion-icon name="home-outline" slot="start"></ion-icon>
      Voltar ao Início
    </ion-button>

    <div class="search-form">
      <ion-item>
        <ion-label position="floating">Pesquisar jogo</ion-label>
        <ion-input [(ngModel)]="searchTerm" (ionInput)="searchGames()"></ion-input>
      </ion-item>
    </div>

    <div class="add-game-section">
      <h3>Adicionar Novo Jogo</h3>
      <ion-item>
        <ion-label position="floating">Nome do jogo</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Plataformas</ion-label>
        <ion-select multiple="true" [(ngModel)]="platforms">
          <ion-select-option *ngFor="let p of allPlatforms" [value]="p">{{p}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="block" (click)="create()" class="btn-primary">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Adicionar
      </ion-button>
    </div>

    <ion-list class="games-list">
      <ion-item *ngFor="let g of filteredGames" class="game-item">
        <ion-label *ngIf="editId !== g.id">
          <h2>{{g.name}}</h2>
          <p>{{g.platforms}}</p>
        </ion-label>
        <div *ngIf="editId !== g.id" class="game-actions">
          <ion-button *ngIf="auth.isAdmin()" color="primary" (click)="startEdit(g)" class="btn-edit">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            Editar
          </ion-button>
          <ion-button color="danger" (click)="remove(g.id)" class="btn-remove">
            <ion-icon name="trash-outline" slot="start"></ion-icon>
            Excluir
          </ion-button>
        </div>

        <!-- Formulário de edição -->
        <div *ngIf="editId === g.id" class="edit-form">
          <ion-item>
            <ion-label position="floating">Nome do jogo</ion-label>
            <ion-input [(ngModel)]="editName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Plataformas</ion-label>
            <ion-select multiple="true" [(ngModel)]="editPlatforms">
              <ion-select-option *ngFor="let p of allPlatforms" [value]="p">{{p}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="edit-actions">
            <ion-button color="success" (click)="saveEdit()" class="btn-save">
              <ion-icon name="checkmark-outline" slot="start"></ion-icon>
              Salvar
            </ion-button>
            <ion-button color="medium" (click)="cancelEdit()" class="btn-cancel">
              <ion-icon name="close-outline" slot="start"></ion-icon>
              Cancelar
            </ion-button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
